* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* Row */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Colums */

[class^="col"] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.col {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

