body {
    font-family: sans-serif;
    color: white;
}

h2 {
    color: black;
}

[class^="col"] {  
    height: 50px;
    border: 1px solid white;
    background-color: dodgerblue;
}

section {
    margin: 30px 0;
}

/* Nested */
.nested {
    background-color: #0f9a4d;
}

.sub-nested {
    background-color: violet;
}