body {
    font-family: sans-serif;
    font-size: 10px;
    color: white;
}

h2 {
    color: black;
}

[class^="col"] {
    padding: 5px;
    border: 1px solid white;
    background-color: dodgerblue;
    text-align: center;
    line-height: 50px;
}

section {
    margin: 30px 0;
}

/* Nested */
.nested {
    background-color: #0f9a4d;
}

.sub-nested {
    background-color: violet;
}